<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>perish</key>
		<integer>7</integer>
		<key>name</key>
		<string>watermelon</string>
	</dict>
	<dict>
		<key>perish</key>
		<integer>7</integer>
		<key>name</key>
		<string>tomatoes</string>
	</dict>
	<dict>
		<key>perish</key>
		<integer>5</integer>
		<key>name</key>
		<string>strawberries</string>
	</dict>
	<dict>
		<key>perish</key>
		<integer>6</integer>
		<key>name</key>
		<string>raspberries</string>
	</dict>
	<dict>
		<key>perish</key>
		<integer>6</integer>
		<key>name</key>
		<string>pineapple</string>
	</dict>
	<dict>
		<key>perish</key>
		<integer>4</integer>
		<key>name</key>
		<string>pears</string>
	</dict>
	<dict>
		<key>perish</key>
		<integer>4</integer>
		<key>name</key>
		<string>peaches</string>
	</dict>
	<dict>
		<key>perish</key>
		<integer>14</integer>
		<key>name</key>
		<string>oranges</string>
	</dict>
	<dict>
		<key>perish</key>
		<integer>14</integer>
		<key>name</key>
		<string>navels</string>
	</dict>
	<dict>
		<key>perish</key>
		<integer>5</integer>
		<key>name</key>
		<string>mangos</string>
	</dict>
	<dict>
		<key>perish</key>
		<integer>7</integer>
		<key>name</key>
		<string>limes</string>
	</dict>
	<dict>
		<key>perish</key>
		<integer>7</integer>
		<key>name</key>
		<string>lemons</string>
	</dict>
	<dict>
		<key>perish</key>
		<integer>5</integer>
		<key>name</key>
		<string>grapefruits</string>
	</dict>
	<dict>
		<key>perish</key>
		<integer>6</integer>
		<key>name</key>
		<string>grapes</string>
	</dict>
	<dict>
		<key>perish</key>
		<integer>7</integer>
		<key>name</key>
		<string>cucumbers</string>
	</dict>
	<dict>
		<key>perish</key>
		<integer>6</integer>
		<key>name</key>
		<string>cherries</string>
	</dict>
	<dict>
		<key>perish</key>
		<integer>6</integer>
		<key>name</key>
		<string>cantaloupes</string>
	</dict>
	<dict>
		<key>perish</key>
		<integer>5</integer>
		<key>name</key>
		<string>blueberries</string>
	</dict>
	<dict>
		<key>perish</key>
		<integer>4</integer>
		<key>name</key>
		<string>bananas</string>
	</dict>
	<dict>
		<key>perish</key>
		<integer>3</integer>
		<key>name</key>
		<string>avocados</string>
	</dict>
	<dict>
		<key>perish</key>
		<integer>5</integer>
		<key>name</key>
		<string>apricot</string>
	</dict>
	<dict>
		<key>perish</key>
		<integer>8</integer>
		<key>name</key>
		<string>apple</string>
	</dict>
</array>
</plist>
